<div class="row justify-content-center">
    <p class="lead">
    </p>
</div>
<figure class="text-center">
    <blockquote class="blockquote">
        <p>
            Strawberry Tale.
        </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        What you need to know is that the name of this website is strawberry.
    </figcaption>
</figure>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="_content/Caomei.Shared/images/logo.svg" alt="" width="57" height="57">
    <h1 class="display-5 fw-bold">Welcome</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">There is no effective content here at present. I will add some content for you to view at some time in the future.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            @*<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>*@
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string model { get; set; }
   }
