@page "/Admin"
@inherits BasePage

<Title Text="@Title"></Title>
<CulturePage @bind-Model="@model" MainPageType="@this.GetType()" />

@code {
    private string model;
    public string Title { get; set; }
    protected override void OnInitialized()
    {
        Title = $"Caomei - {WtmBlazor.Localizer["Sys.AdminTitle"]}";
        base.OnInitialized();

    }

 }
