<div class="row justify-content-center">
    <p class="lead">
    </p>
</div>
<figure class="text-center">
    <blockquote class="blockquote">
        <p>
            暂时不需要联系我.
        </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        我们会在需要的时候更新联系方式.
    </figcaption>
</figure>

@code {
    [Parameter]
    public string model { get; set; }
   }
