<div class="row justify-content-center">
    <p class="lead">
    </p>
</div>
<figure class="text-center">
    <blockquote class="blockquote">
        <p>
            草莓物语.
        </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        你需要知道的是,这个网站的名字叫做草莓.
    </figcaption>
</figure>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="_content/Caomei.Shared/images/logo.svg" alt="" width="57" height="57">
    <h1 class="display-5 fw-bold">欢迎光临</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">这里目前还没有任何有效的内容,我会在未来的某个时刻添加上一些内容以供你们查看.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            @*<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>*@
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string model { get; set; }
   }
